services:
  mongodb:
    image: mongo:latest
    container_name: Api-4-Turnos
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: api4
      MONGO_INITDB_ROOT_PASSWORD: api4turnos1234
    ports:
      - "27027:27017"
    volumes:
      - ./mongodb_data:/data/db
